.progress-wrapper {
    padding: 32px 24px;
    &__title {
        font-size: 22px;
        font-weight: 700;
        padding-bottom: 16px;
    }
}

.bar-wrapper {
    width: 100%;
    overflow: hidden;
    background: #F2FBFA;
    border-radius: 24px;
    &__percentage {
        display: block;
        background: #00B797;
        text-align: right;
        color: #ffffff;
        padding-right: 16px;
        border-radius: 24px;
    }
}
